body{
    background-color:  rgb(36, 36, 36);
    color: rgb(211, 211, 211);
}
#shirtless{
    font-family:'Times New Roman', Times, serif;
    font-size: 1em;
    text-align: justify;
    color:azure;
}
#shirtless1{
    width: 301.176px;
    height: 400px;
}
#shirtless2{
    width: 301.176px;
    height: 400px;
}
#shirtless3{
    width: 301.176px;
    height: 400px;
}
#shirtless4{
    width: 301.176px;
    height: 400px;
}
#shirtless5{
    width: 301.176px;
    height: 400px;
}
#shirtless6{
    width: 301.176px;
    height: 400px;
}
#shirtless7{
    width: 301.176px;
    height: 400px;
}
#shirtless8{
    width: 301.176px;
    height: 400px;
}
#shirtless9{
    width: 301.176px;
    height: 400px;
}
#hayss{
    font-size:2em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
#oldshirtlessPics{
    text-align: center;
}
#oldshirtlessVids{
    text-align:center;
}
#veinss{
    text-align:center;
}
#veins{
    width: 301.176px;
    height: 400px;
}
#h1{
    font-weight: bold;
    font-size: 2em;
}
#newshirtlessPics{
    text-align: center;
}
#newshirtlessVids{
    text-align:center;
}
#label{
    font-weight: bold;
    font-size: 2em;
}
#label2{
    font-weight: bold;
    font-size: 2em;
}
#label3{
    font-weight: bold;
    font-size: 2em;
}
#veinss{
    text-align: center;
}
#shirtlessVid{
    text-align: center;
}